.hbg{
    width: 100%;
    height: 100%;
    background-image: url(./icons/home_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.htitle{
    background: transparent;
    color: white;
}
.hsub{
    color: white;
}
.home{
    background: linear-gradient(180deg, #2456AB 0%, #1A3B77 100%);
}
.homecontainer{
    margin-left: 10%;
    margin-right: 40%;
}