.navbar {
  display: flex;
  /* width: 100%; */
  justify-content: space-around;
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
  padding-block: 30px;
  background-color: white;
  z-index: 100;
}

.logo {
  display: flex;
  /* padding: 10.8px; */
}
.title {
  display: inline;
  padding: 20px;
  color: rgba(41, 95, 183, 1);
  padding: 0%;
  margin: 0;
  padding-inline-start: 20px;
}

ul.links {
  padding: 0;
  margin: 0%;
}
.nlink {
  margin-block: auto;
}
.links a {
  text-decoration: none;
  color: #2c2c2e;
  padding-inline: 10px;
  padding-block: 5px;
  /* margin-inline: 2px; */
  transition: 0.45s;
}
.links li {
  list-style-type: none;
  display: inline;
}
.links a:hover {
  color: white;
  background-color: #295fb7;
}
#resnlink {
  display: none;
}

.sign {
  margin-block: auto;
}
.sign button {
  /* margin-inline: 5px; */
  border: transparent;
  padding: 10px;
}
.signup {
  background-color: transparent;
  transition: 0.3s;
}
.signup:hover {
  color: white;
  background-color: #295fb7c1;
}
.signin {
  color: white;
  background-color: #295fb7;
  transition: 0.3s;
}
.signin:hover {
  color: white;
  background-color: #295fb7ce;
}

/* responsive */
@media only screen and (max-width: 700px) {
  .navbar {
    position: static;
    flex-wrap: wrap;
  }
  .navbar {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 653px) {
  .nlink {
    display: none;
  }
  #resnlink {
    display: block;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .nlink {
    display: block;
    margin-block: 20px;
  }
  .links li {
    /* display: block; */
    text-align: center;
  }
  #resnlink {
    display: none;
  }
}
@media only screen and (max-width: 300px) {
  .links li {
    display: block;
  }
}
@media only screen and (max-width: 250px) {
  .navbar {
    padding: 1%;
  }
  .sign {
    display: flex;
    flex-direction: column;
  }
  .logo {
    flex-direction: column;
  }
  .title {
    padding-left: 0;
  }
}
@media only screen and (max-width: 175px) {
  .links li {
    text-align: left;
  }
  .navbar {
    align-items: start;
  }
}
