/* top */
.sale {
  text-align: center;
}
h1 {
  color: #2455a9;
  margin-bottom: 3px;
}
.sasub {
  margin-bottom: 35px;
  margin-top: 5px;
}

/* grid */
.sagrid {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  overflow-x: hidden;
  margin-inline: 4%;
  grid-template-rows: auto;
  padding-bottom: 20px;
}
.saglinkcont {
  padding: 10px;
}
/* prettier-ignore */
.nounder, .saglink  {
  color: black;
  text-decoration: none;
}
/* image */
.sagdiv {
  overflow: hidden;
  margin: 6px;
  background-color: #ecf4fd;
  padding: 8px;
}
.sagimgdiv {
  overflow: hidden;
}
.sagdimg {
  object-fit: scale-down;
  max-width: 100%;
}

/* top details */
/* prettier-ignore */
.sagprice, .sagadd, .sagrent {
  text-align: left;
  text-transform: capitalize;
}
.sagrent {
  color: #ffac33;
}

/* details */
.sagddetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
  vertical-align: bottom;
}
.sagddticon {
  margin-right: 5px;
}
.sagddbottom {
  margin-top: 4px;
  vertical-align: bottom;
}
.sagddmid {
  padding-inline: 5px;
}

/* hover */
.sagdiv:hover {
  background-color: #295eb5;
}
/* prettier-ignore */
.sagdiv:hover .sagddetails, .sagdiv:hover .sagadd,.sagdiv:hover .sagprice{
  filter: invert(1);
}

/* more */
.samore {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #2455a9;
  margin-block: 10px;
}
.seeall {
  margin-block: 15px;
  display: block;
}

/* responsive */
@media only screen and (max-width: 650px) {
  .sagrid {
    grid-template-columns: repeat(2, 48%);
  }
}
@media only screen and (max-width: 480px) {
  .sagrid {
    grid-template-columns: repeat(1, 96%);
  }
}

/* go to top button */
#myBtn {
  display: block;
  position: fixed;
  /* bottom: 20px; */
  right: 30px;
  z-index: 4;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2455a9;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: 0.3s;
  visibility: hidden;
}

#myBtn:hover {
  background-color: #2455a9ce;
}

/* each property component */
.sagrid.prop {
  background-color: #ecf4fd;
  display: block;
  margin-inline: 0;
  padding-inline: 4%;
  z-index: -1;
}
.sagdiv.prop:hover {
  background-color: #ecf4fd;
}
/* prettier-ignore */
.sagdiv.prop:hover .sagddetails, .sagdiv.prop:hover .sagadd,.sagdiv.prop:hover .sagprice{
  filter: invert(0);
}
.prop.sagtitle {
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 0;
}
